*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size (paragraph): 15px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

    background-color: hsl(212, 45%, 89%);
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.qr {
  display: flex;
  align-items: center;     /* вертикально */
  height: 100vh;           /* высота экрана */
}

.container {
    width: 100%;
}

.qr__item {
    margin: 0 auto;
    padding: 15px;
    width: 320px;

    border-radius: 20px;
    box-shadow: 0px 0px 120px -51px hsl(216, 15%, 48%);
    background-color: white;
}


.qr__img {
    max-width: 100%;

    border-radius: 10px;
}

.qr__text {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}

.qr__text-title {
    margin: 25px auto;

    font-size: 22px;
	color: hsl(218, 44%, 22%);
	font-weight: 700;
	line-height: 1.2;
}

.qr__text-subtitle {
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 14px;
	color: hsl(216, 15%, 48%);
	font-weight: 400;
	line-height: 1.2;
}


